:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 968px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --thirdly:rgb(118, 118, 118);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(235, 235, 235);
    --border: rgb(208, 208, 208);
    --header-bg: rgba(255, 255, 255,.9);
    --link-color: rgb(54,123,153);
    --active-bg:rgba(54,123,153,.1);
}

.dark {
    --theme: rgb(29, 30, 32);
    --primary: rgb(218, 218, 218);
    --secondary: rgb(155, 155, 155);
    --thirdly:rgb(145, 145, 145);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(81, 81, 81);
    --header-bg: rgba(29, 30, 32,.8);
    --link-color: rgb(54,123,153);
    --active-bg:rgba(54,123,153,.1);
}