{{- define "main" }}

<article class="post-single">
    <div class="post-left-article">
        <header class="post-header">
            {{ partial "breadcrumbs.html" . }}
            <h1 id="post-title" class="post-title">
                {{ .Title }}
                {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;[draft]</span></sup>{{- end }}
            </h1>
            {{- if .Description }}
            <div class="post-description">
                {{ .Description }}
            </div>
            {{- end }}
            {{- if not (.Param "hideMeta") }}
            <div class="post-meta">
                {{- partial "post_meta.html" . -}}
                <span class="meta-item">
                    &nbsp;·&nbsp;<i class="fi fi-eye"></i>&nbsp;<span
                        id="busuanzi_value_page_pv"></span>
                </span>
                {{- partial "translation_list.html" . -}}
                {{- partial "edit_post.html" . -}}
                {{- partial "post_canonical.html" . -}}
            </div>
            {{- end }}
        </header>
        {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default
        site.Params.cover.hidden
        }}
        {{- partial "post-single-cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
        {{- if .Content }}
        <div class="post-content">
            {{- if not (.Param "disableAnchoredHeadings") }}
            {{- partial "anchored_headings.html" .Content -}}
            {{- else }}{{ .Content }}{{ end }}
        </div>
        {{- end }}

        <footer class="post-footer">
            {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
            <ul class="post-tags">
                {{- range ($.GetTerms $tags) }}
                <li><a href="{{ .Permalink }}"><i class="fi fi-tag"></i>&nbsp;{{ .LinkTitle }}</a></li>
                {{- end }}
            </ul>
            {{- if (.Param "ShowPostNavLinks") }}
            {{- partial "post_nav_links.html" . }}
            {{- end }}
            {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
            {{- partial "share_icons.html" . -}}
            {{- end }}
        </footer>

        {{- if (.Param "comments") }}
        <div class="giscus_comments">
            {{- partial "comments.html" . }}
        </div>
        {{- end }}

        <script>
            document.querySelector("div.giscus_comments > script").setAttribute("data-theme", localStorage.getItem("pref-theme") ? localStorage.getItem("pref-theme") : window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"), document.querySelector("#theme-toggle").addEventListener("click", () => { let e = document.querySelector("iframe.giscus-frame"); e && e.contentWindow.postMessage({ giscus: { setConfig: { theme: localStorage.getItem("pref-theme") ? localStorage.getItem("pref-theme") === "dark" ? "light" : "dark" : document.body.className.includes("dark") ? "light" : "dark" } } }, "https://giscus.app") })
        </script>
    </div>
    <div class="post-right-toc">
        {{- if (.Param "ShowToc") }}
        {{- partial "toc.html" . }}
        {{- end }}
    </div>
    <div class="clear_float"></div>
</article>

{{- end }}{{/* end main */}}