{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <!-- <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header> -->
    <div class="home-info-content">
        {{ .Content | markdownify }}
        <p class="social-info">
            <a href="https://github.com/srcio" target="_blank" rel="noopener noreferrer me">
                <i class="fi fi-github"></i>&nbsp;&nbsp;GitHub
            </a>&nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="mailto:me@srcio.cn" target="_blank" rel="noopener noreferrer me">
                <i class="fi fi-mail"></i>&nbsp;&nbsp;邮箱
            </a>
        </p>
    </div>
</article>
{{- end -}}