.page-header,
.post-header {
    padding: 0 0 12px 0;
}

.post-title {
    padding-top: 80px;
    margin-top: -50px;
    padding-bottom: 10px;
    font-size: 32px;
    text-align: center !important;
}

.post-description {
    margin-top: 10px;
    margin-bottom: 5px;
    display: none;
}

.breadcrumbs {
    color: var(--secondary);
    font-size: 14px;
}

.post-meta {
    color: var(--secondary);
    font-size: 14px;
    flex-wrap: wrap;
    text-align: center;
}

.post-meta .i18n_list li {
    display: inline-flex;
    list-style: none;
    margin: auto 3px;
    box-shadow: 0 1px 0 var(--secondary);
}

.post-content {
    color: var(--content);
    margin-top: 24px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    clear: both;
    padding-top: 70px;
    margin-top: -70px !important;
}


.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 16px 0 16px;
}

.post-content h1 {
    margin: 24px auto 24px;
    font-size: 32px;
}

.post-content h2 {
    margin: 20px auto 20px;
    font-size: 28px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}

.post-content a {
    color: var(--link-color);
}

.post-content a:hover {
    color: var(--link-color) !important;
}

.post-content a code:hover {
    color: var(--link-color) !important;
}

.post-content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1px repeat-x;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
    margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
    padding-inline-start: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.post-content dt {
    width: 25%;
    font-weight: 700;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
}

.post-content dd~dd,
.post-content dt~dt {
    margin-top: 10px;
}

.post-content table {
    margin-bottom: 32px;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
    border-bottom: 1px solid var(--border);
}

.post-content table th {
    font-size: 14px;
    text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight table {
    border-radius: var(--radius);
}

.post-content .highlight:not(table) {
    margin: 10px auto;
    background: var(--hljs-bg) !important;
    border-radius: var(--radius);
    direction: ltr;
}

.post-content li>.highlight {
    margin-inline-end: 0;
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
}

.post-content .highlighttable {
    table-layout: fixed;
}

.post-content .highlighttable td:first-child {
    width: 40px;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: 85%;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: var(--radius);
}

.post-content pre code {
    display: block;
    margin: auto 0;
    padding: 10px 16px;
    color: rgb(213, 213, 214);
    background: var(--hljs-bg) !important;
    border-radius: var(--radius);
    overflow-x: auto;
    word-break: break-all;
}

.post-content blockquote * {
    margin: 0;
}

.post-content blockquote code {
    background-color: var(--border);
}

.post-content blockquote {
    margin: 20px 0;
    padding: 12px 14px;
    border-inline-start: 5px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--code-bg);
}

.post-content hr {
    margin: 30px 0;
    height: 2px;
    background: var(--tertiary);
    border: 0;
}

.post-content iframe {
    max-width: 100%;
}

.post-content img {
    border-radius: var(--radius);
    margin: 1rem 0;
}

.post-content img[src*="#center"] {
    margin: 1rem auto;
}

.post-content figure.align-center {
    text-align: center;
}

.post-content figure>figcaption {
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 16px;
}

.post-content figure>figcaption>p {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
}


.toc {
    font-size: 14px;
    margin-top: 150px;
    position: sticky;
    top: 70px;
}

.toc .inner {
    margin: 0 8px;
    padding: 5px 10px;
}

.toc li a {
    display: block;
    padding: 2px 6px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc .inner ul * {
    color: var(--secondary);
    list-style-type: none;
}

.toc li ul {
    margin-inline-start: 16px;
    color: var(--secondary);
    list-style: none;
}

.toc ul li a.active {
    background-color: var(--active-bg);
    color: var(--link-color);
    border-radius: 4px;
    font-weight: 500;
}

.toc ul li:has(> a.active) i{
    color: var(--link-color);
}

.toc li:hover{
    color: var(--link-color);
}

.post-footer {
    margin-top: calc(var(--gap) * 2);
}

.post-tags {
    text-align: center;
}

.post-tags li {
    display: inline-block;
    margin-inline-end: 6px;
    margin-bottom: 5px;
}

.post-tags a,
.share-buttons,
.paginav {
    border-radius: var(--radius);
    background: var(--code-bg);
}

.post-tags a {
    display: block;
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 28px;
    background: var(--code-bg);
}

.post-tags a:hover,
.paginav a:hover {
    background: var(--active-bg);
}

.share-buttons {
    margin: 14px 0;
    padding-inline-start: var(--radius);
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.share-buttons a {
    margin-top: 10px;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-flex;
    color: var(--link-color);
    margin-inline-start: 8px;
    font-weight: 500;
    user-select: none;
}

.paginav {
    margin: 10px 0;
    display: flex;
    line-height: 30px;
    border-radius: var(--radius);
}

.paginav a {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    border-radius: var(--radius);
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    color: var(--secondary);
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav span:hover:not(.title) {
    box-shadow: 0 1px 0;
}

.paginav .next {
    margin-inline-start: auto;
    text-align: right;
}

[dir="rtl"] .paginav .next {
    text-align: left;
}

h1>a>svg {
    display: inline;
}

img.in-text {
    display: inline;
    margin: auto;
}